@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px;
    margin: 40px auto;
}

h1{
    color: brown;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
